@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_ConfigLayout .cshtml";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Creyeto Inc is an independent software development company based in Australia having branches in Canada and Dubai, United Arab Emirates.</p>
<p>Creyeto’s proven methodology ensures “we deliver on time, to budget and exceed expectations time after time after time”.  Our commitment to combine highly effective working practices with paradigm-busting creativity means the only thing “we’ll exceed are your expectations”.</p>
