@{
    ViewBag.Title = "Creyeto Inc";
    Layout = "~/Views/Shared/_ConfigLayout .cshtml";
}
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@

<address>
    Dubai,<br />
    United Arab Emirates<br />
    @*<abbr title="Phone">P:</abbr>
    +971 asdasd3*@
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">creyeto@gmail.com</a><br />
    
</address>